{
  "bot": {
    "token": "YourTokenGoesHere",
    "prefix": "!",
    "game": "I'm not configured!"
  },
  "weather": {
    "appid": "your openweathermap.org api key here",
    "city": "your default city",
    "country": "your country code ISO-3166",
    "units": "kelivn, metric, or imperial"
  }
}
